/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* Estilos de encabezado */
header {
    background-color: #004460;
    color: white;
    padding: 1rem 0;
}

.logo {
    display: flex;
    justify-content: left;
}

.logo img {
    width: 150px;
    height: auto;
    margin-left: 1rem;
}

.logo-text { 
    text-align: center; 
    font-size: 2rem;
    font-style: normal;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-right: 1rem;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Estilos de secciones */
.hero {
    text-align: center;
    padding: 2rem 0;
    background-color: #00C4CA;
    color: white;
}

.hero h1 {
    margin-bottom: 2rem;
}

.cta-button {
    display:inline-block;
    padding: 1rem 1rem;
    background-color: #A13C97;
    color: #f3f2f2;
    text-decoration:wavy;
    border-radius: 30px;
    margin-top: 30px;
}

.services {
    padding: 4rem 0;
    text-align: center;
}

.service-card {
    background-color: white;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    margin-bottom: 1rem;
}

/* Estilos de pie de página */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #9ED6C4;
    color: black;
}
.menu{
    padding: 0.5rem;
    background-color: #9ED6C4;
    position:relative;
    width: calc(90px + 16.3 * 70px + 4rem);
    display: flex;
    justify-content: center;
    border-radius: 20px 20px;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.0);
}

.link{
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    border-radius: 99em;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transform-origin: center left;
    transition: width 0.2s ease-in;
    text-decoration: none;
    color: inherit;
}

.link::before{
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    border-radius: 99em;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    transform-origin: center right;
    background-color: #ffffff;
}

.link:hover, .link:focus{
    outline: 0;
    width: 140px;
}
.link:hover::before,
.link:hover .link-tittle{
    transform: translateX(0%);
}

.link-icon{
    color: var(--color);
    font-size: 27px !important;
    display: block;
    flex-shrink: 0;
    left: 18px;
    position: absolute;
}

.link-tittle{
    color: var(--color);
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    display: block;
    text-align: center;
    text-indent: 20px;
    width: 100%;
}